/* You can add global styles to this file, and also import other style files */

* {
  font-family: sans-serif;
}

.button-group {
  display: flex;
  gap: 20px;
}

button {
  padding: 6px 12px;
  background-color: white;
  border: 2px solid #444;
  color: #444;
  border-radius: 4px;
  font-weight: 700;

  &.active {
    background-color: yellow;

    &:hover {
      background-color: yellow;
    }
  }

  &:hover {
    background-color: #eee;
  }
}
