<h1>Angular Fluent</h1>

<h2>Switch main locale</h2>

<div class="button-group">
  <app-change-locale-button [locale]="'de'"
                            (localeChanged)="changeLocale($event)"
                            [activeLocale]="activeLocale"></app-change-locale-button>
  <app-change-locale-button [locale]="'en'"
                            (localeChanged)="changeLocale($event)"
                            [activeLocale]="activeLocale"></app-change-locale-button>
  <app-change-locale-button [locale]="'fr'"
                            (localeChanged)="changeLocale($event)"
                            [activeLocale]="activeLocale"></app-change-locale-button>
  <app-change-locale-button [locale]="'hu'"
                            (localeChanged)="changeLocale($event)"
                            [activeLocale]="activeLocale"></app-change-locale-button>
</div>

<h2>Return key for missing message?</h2>

<div class="button-group">
  <button (click)="returnKey(true)" [class.active]="returnMessageKey">Yes</button>
  <button (click)="returnKey(false)" [class.active]="!returnMessageKey">No</button>
</div>

<h2>Fallback locales</h2>

<h2>Result</h2>

<p>
  Each box contains a translation key, a comment, the translation
  from the fluent-pipe {{ '{{ key | fluent \}\}' }}
  (using Observables) and the translation that is awaited
  (using Promises).
</p>

<p>
  The file <strong>fr.ftl</strong> is missing. So there only
  will be translations when a fallback locale is used.
</p>

<div class="translation-grid">
  <div>
    <div>
      dog
    </div>
    <div>
      available in all locales
    </div>
    <div>
      {{ ("dog" | fluent) || "-" }}
    </div>
    <div>
      {{ dogTranslation || "-" }}
    </div>
  </div>
  <div>
    <div>
      cat
    </div>
    <div>
      message is missing from all ftl-files
    </div>
    <div>
      {{ ("cat" | fluent) || "-" }}
    </div>
    <div>
      {{ catTranslation || "-" }}
    </div>
  </div>
  <div>
    <div>
      bear
    </div>
    <div>
      only in hungarian
    </div>
    <div>
      {{ ("bear" | fluent) || "-" }}
    </div>
    <div>
      {{ bearTranslation || "-" }}
    </div>
  </div>
</div>
