.translation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-template-rows: repeat(3,minmax(40px,auto));
  gap: 10px;

  > div {
    border: 2px solid black;
    display: grid;
    grid-row: 1 / 5;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    place-items: center;
    background-color: cornflowerblue;
    font-weight: 700;
    padding: 10px;
    text-align: center;
  }
}
